<template>
  <section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <ReplayViewer :replayId="replay_id"/>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import axios from 'axios';
import ReplayViewer from '@/components/ReplayViewer.vue';

export default Vue.extend({
  components: {
    ReplayViewer
  },
  validate({ params }) {
    return !isNaN(+params.id);
  },
  asyncData({ params }) {
    return {
      replay_id: +params.id
    };
  }
});
</script>
