<template>
  <div class="container">
    <div>
      <h1 class="title">
        Nothing here
      </h1>
      <h2 class="subtitle">
        Nothing to put here
      </h2>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({});
</script>

<style lang="scss" scoped>
</style>
