<template>
  <div class="container">
    <RecentTable map-name="kz_asdf"/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import RecentTable from '@/components/gokz/RecentRecords.vue';
@Component({
  components: { RecentTable }
})
export default class GokzReplaysPage extends Vue {}
</script>

<style lang="scss" scoped>
</style>
