<template>
  <div class="container">
    <div class="tile">
      <article class="tile is-child notification is-primary">
        <p class="title">Select a map.</p>
        <div class="select">
          <select @change="onMapSelect($event)">
            <option></option>
            <option v-for="map in maps" v-bind:key="map.map_id">{{map.name}}</option>
          </select>
        </div>
      </article>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import gokz from '~/services/gokz.service';
export default Vue.extend({
  async asyncData() {
    return {
      maps: await gokz.getMaps()
    };
  },
  methods: {
    onMapSelect(event) {
      this.$router.push({ path: `/replays/map/${event.target.value}` });
    }
  }
});
</script>

