<template>
  <v-client-table ref="vuetable" :data="replays" :columns="columns" :options="options">
    <span
      slot="created"
      slot-scope="props"
    >{{ props.row.created | moment('MMM DD DDDD, h:mm:ss a') }}</span>
    <nuxt-link slot="action" slot-scope="props" :to="'/replays/id/'+props.row.id">Watch</nuxt-link>
  </v-client-table>
</template>

<script lang="ts">
import Vue from 'vue';
import replays from '@/services/replay.service';
import Map from '@/models/gokz/map.model';
import { Replay } from '../../models/replay.model';

export default Vue.extend({
  data() {
    return {
      columns: [
        'id',
        'alias',
        'map',
        'mode',
        'run_time',
        'teleports',
        'created',
        'action'
      ],
      options: {
        headings: {
          id: 'ID',
          alias: 'Player',
          map: 'Map',
          mode: 'Mode',
          run_time: 'Time',
          teleports: 'Teleports',
          created: 'Created'
        },
        sortable: ['id', 'map', 'mode', 'run_time', 'created'],
        filterable: ['map', 'alias'],
        sortIcon: {
          base: 'fas',
          up: 'fa-sort-up',
          down: 'fa-sort-down',
          is: 'fa-sort'
        }
      },
      replays: [] as Replay[]
    };
  },
  created() {
    this.loadReplayList();
  },
  methods: {
    async loadReplayList() {
      this.replays = await replays.getRecents();
    }
  }
});
</script>
