<template>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">Winston</a>

        <div
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="mainNav"
          :class="{'is-active': showNav }"
          @click="showNav = !showNav"
        >
          <span aria-hidden="true"/>
          <span aria-hidden="true"/>
          <span aria-hidden="true"/>
        </div>
      </div>

      <div id="mainNav" class="navbar-menu" :class="{ 'is-active': showNav }">
        <div class="navbar-start">
          <nuxt-link class="navbar-item" to="/">Home</nuxt-link>
          <nuxt-link class="navbar-item" to="/projects">Projects</nuxt-link>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">GOKZ Replays</a>
            <div class="navbar-dropdown">
              <nuxt-link class="navbar-item" to="/replays">Recent</nuxt-link>
              <nuxt-link class="navbar-item" to="/replays/maps">Choose map</nuxt-link>
            </div>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <a class="navbar-item" href="https://gitlab.com/ruto">GitLab</a>
        <a class="navbar-item" href="https://bitbucket.org/devruto">BitBucket</a>
        <a class="navbar-item" href="https://github.com/DevRuto">GitHub</a>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  data() {
    return {
      showNav: false
    };
  }
});
</script>

<style lang="scss" scoped>
.navbar {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}
</style>
