<template>
  <div>
    <div ref="mapviewer" class="map-viewer">
      <div class="crosshair"></div>
    </div>
    <div class="columns is-vcentered">
      <span class="column is-1 has-text-centered">{{time_text}}</span>
      <input
        class="scrubber slider is-info column is-10"
        step="1"
        min="0"
        v-model="currentTick"
        :max="maxTick"
        type="range"
        @mouseup="onScrubMouseUp"
        @mousedown="onScrubMouseDown"
        ref="scrubber"
      >
      <span class="column is-1 has-text-centered">{{total_time}}</span>
    </div>
    <div class="columns is-vcentered">
      <div class="column is-size-5">{{topic}}</div>
      <div class="column" id="controlBar">
        <div class="buttons has-addons is-right">
          <button class="button" @click="togglePlay">
            <i class="fas fa-play" v-if="!isPlaying"></i>
            <i class="fas fa-pause" v-if="isPlaying"></i>
          </button>
          <button class="button" @click="togglePath">Toggle Route</button>
        </div>
      </div>
      <input
        class="speed-slider slider is-info column is-2"
        step="1"
        min="0"
        :max="speedRates.length-1"
        type="range"
        v-model="speedIndex"
        ref="playbackRateScrubber"
      >
      <span class="column is-1">Speed: {{speedRates[speedIndex]}}x</span>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  props: {
    replayId: {
      type: Number,
      required: true
    }
  },
  mounted() {
    this.$nextTick(function() {
      this.loadReplay(this.replayId);
    });
  },
  data() {
    return {
      maxTick: 1,
      currentTick: 1,
      tickRate: -1,
      isPlaying: false,
      speedIndex: 5,
      speedRates: [-5, -1, 0.1, 0.25, 1, 2, 5, 10],
      viewer: (null as unknown) as Gokz.ReplayViewer,
      time_text: '00:00',
      total_time: '00:00',
      topic: 'Loading'
    };
  },
  methods: {
    loadReplay(id: number) {
      this.viewer = new Gokz.ReplayViewer(this.$refs
        .mapviewer as HTMLInputElement);
      const viewer = this.viewer;

      (this.$refs.scrubber as HTMLElement).addEventListener('input', ev => {
        viewer.tick = (this.$refs.scrubber as HTMLInputElement).valueAsNumber;
      });

      (this.$refs.playbackRateScrubber as HTMLElement).addEventListener(
        'input',
        ev => {
          viewer.playbackRate = this.speedRates[this.speedIndex];
        }
      );

      viewer.replayLoaded.addListener(replay => {
        this.maxTick = replay.tickCount;
        this.tickRate = replay.tickRate;
        this.speedIndex = this.speedRates.indexOf(1);

        this.topic = `${replay.playerName} on ${replay.mapName} (${
          Gokz.GlobalMode[replay.mode]
        }) - ${
          replay.teleportsUsed === 0
            ? 'PRO'
            : `NUB - ${replay.teleportsUsed} tps`
        }`;

        const totalSeconds = this.maxTick / this.tickRate;
        const minutes = Math.floor(totalSeconds / 60);
        const seconds = totalSeconds - minutes * 60;
        const secondsString = seconds.toFixed(1);
        this.total_time = `${minutes}:${
          secondsString.indexOf('.') === 1 ? '0' : ''
        }${secondsString}`;
      });
      viewer.tickChanged.addListener(tickData => {
        this.currentTick = tickData.tick;
        const totalSeconds =
          this.viewer.replay.clampTick(tickData.tick) / this.tickRate;
        const minutes = Math.floor(totalSeconds / 60);
        const seconds = totalSeconds - minutes * 60;
        const secondsString = seconds.toFixed(1);
        this.time_text = `${minutes}:${
          secondsString.indexOf('.') === 1 ? '0' : ''
        }${secondsString}`;
      });
      viewer.messageEvent.addListener(message => {
        console.log('[LOG] ' + message);
      });
      viewer.playbackRateChanged.addListener(rate => {
        this.speedIndex = this.speedRates.indexOf(rate);
      });
      viewer.isPlayingChanged.addListener(isPlaying => {
        this.isPlaying = isPlaying;
      });

      // TODO: RE-EXPORT MAP ARTIFACTS
      viewer.mapBaseUrl = 'https://devruto.com/resources/csgo/maps';
      viewer.isPlaying = true;
      viewer.showDebugPanel = false;
      const replayUrl = 'https://devruto.com/api/replays/' + id;
      console.log(replayUrl);
      viewer.loadReplay(replayUrl);
      viewer.animate();
    },
    onScrubMouseUp() {
      if (!this.viewer) return;
      this.viewer.updateTickHash();
      this.viewer.isScrubbing = false;
    },
    onScrubMouseDown() {
      if (!this.viewer) return;
      this.viewer.isScrubbing = true;
    },
    togglePlay() {
      if (!this.viewer) return;
      this.viewer.isPlaying = !this.viewer.isPlaying;
    },
    togglePath() {
      if (!this.viewer) return;
      this.viewer.toggleRoute();
    },
    modeToString(mode: number) {
      return mode === 0 ? 'Vanilla' : mode === 1 ? 'SimpleKZ' : 'KZTimer';
    }
  }
});
</script>

<style lang="scss" scoped>
.map-viewer {
  height: 650px;
  width: 1280px;
  min-width: 1280px;
  min-height: 650px;
  overflow: hidden;

  canvas {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

// TODO: FIX CROSSHAIR
.crosshair {
  position: relative;
  width: 15px;
  height: 15px;
  margin-left: -8px;
  margin-right: -8px;
  left: 50%;
  top: 50%;
  background-image: url(~assets/img/crosshair.png);
}

#controlBar {
  width: 100%;
}
</style>
