<template>
  <div class="container fullheight">
    <div>
      <h1 class="title">
        Ruto's Project
      </h1>
      <h2 class="subtitle">
        Nuxt Pog
      </h2>
    </div>
  </div>
</template>

<script lang="ts">
// import Logo from '~/components/Logo.vue';
import { Component, Vue } from 'vue-property-decorator';

@Component({
  components: {}
})
export default class HomePage extends Vue {}
</script>

<style>
.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
