<template>
  <div class="container">
    <TopRecords :mapName="$route.params.map"/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import TopRecords from '@/components/gokz/TopRecords.vue';
@Component({
  components: {
    TopRecords
  }
})
export default class MapPage extends Vue {
  created() {
    console.log(this.$route.params.map);
  }
}
</script>

